
project3/cmake-build-debug/res.tec
project3/cmake-build-debug/res_coupled.tec
project3/CoupledSolutionRes.lpk
project3/CoupledSolutionRes.lpk
project3/CoupledSolutionRes.lpk
project3/cmake-build-debug/res.tec
*.tec
